#file{
    display: none;
}
label{
    margin-bottom: 0;
}
#button-addon1{
    color: white;
    background-color: rgb(97, 97, 255);
    transition: 0.3s;
}
#file-label:hover{
    background: rgb(159, 255, 255);
    cursor: pointer;
}
#image{
    width: 100%;
}